{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1>Sell Product</h1>

    <form action="{% url 'website:sell' %}" method="post">
      {% csrf_token %}
      {{ product_form|crispy }}
      <input class="btn btn-primary" type="submit" value="Sell It" />
    </form>

    <script type="text/javascript">
      $(document).ready(function() {

        if ($('#id_local_delivery').is(':checked')) {
            $("#div_id_delivery_city").show();
            $("#div_id_delivery_state").show();
        }
        else {
            $("#div_id_delivery_city").hide();
            $("#div_id_delivery_state").hide();
        }

        $('#id_local_delivery').click(function() {
          console.log("CLICKED")
          if ($('#id_local_delivery').is(':checked')) {
            $("#div_id_delivery_city").show();
            $("#div_id_delivery_state").show();
          }
          else {
              $("#div_id_delivery_city").hide();
              $("#div_id_delivery_state").hide();
          }
        })

      })
    </script>

{% endblock content %}


