{% extends "index.html" %}
{% load humanize %}

{% block content %}

{% if order %}
  <h1>{{request.user}}'s cart</h1>
  <div>Order Number: BA14793NG-{{order.id}}</div>
  <hr />
  {% for product in products %}
    <div class="list-group-item bg-light">
      <div class="d-flex w-100 justify-content-between"><h6>{{product.title}}</h6>${{product.price|intcomma}}</div>
    </div>
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">{{product.description}}</p>
        </div>
    </div>
  {% endfor %}
  <hr />
  <div class="list-group-item bg-light">Order total: ${{total|intcomma}}</div>
  <hr />
  <form>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Complete Order</button>
    <a href="{% url 'website:list_products' %}" class="btn btn-secondary">View More Products</a>
    <a href="{% url 'website:index' %}" class="btn btn-outline-secondary">Go Back</a>
  </form>
{% else %}
  <div>
    <strong>You don't have an open order...</strong>
    <br />
    but there's always something you deserve.
  </div>
  <br />
  <a href="{% url 'website:list_products' %}" class="btn btn-primary">Take a Look</a>
{% endif %}

{% endblock content %}