{% extends 'index.html' %}
{% load humanize %}


   {% block content %}
       <h1>Order Number: BA14793NG-{{ order.id }}</h1>
       <ul class="list-group">
            {% for productRel in order_products %}

                <li class="list-group-item d-flex">
                    <a href="{% url 'website:product_details' productRel.product.id %}">{{ productRel.product.title }}</a>
                    <p class="ml-auto">${{ productRel.product.price|intcomma }}</p>
                </li>


            {% endfor %}

       </ul>
       <div class="d-flex justify-content-end">
       <h4 class="">Total: ${{ total|intcomma }}</h4>
       </div>

       <h4>Payment Type</h4>
       <p>Payment Name: {{ order.payment_type.name }}</p>
       <p>Account Number (last 4 digits): {{ order.payment_type.account_number|make_list|slice:"-4:"|join:"" }}</p>
       <p>Processed: {{ order.payment_date }} UTC</p>

   {% endblock content %}