{% extends 'index.html' %}
{% load crispy_forms_tags %}

   {% block content %}
        <h1>{{user}}'s User Settings</h1>
        {% if form %}
            <form method="post" action="{% url "website:customer_profile" %}">
                {% csrf_token %}
                {{form.formA|crispy}}
                {{form.formB|crispy}}
                <input type="submit" value="Submit">
            </form>
        {% else %}
            <h4>Name:</h4>
            <p>{{user.first_name}} {{user.last_name}}</p>
            <h4>Address:</h4>
            <p>{{user.customer.street_address}} <br> {{user.customer.city}}, {{user.customer.state}} {{user.customer.zipcode}}</p>
            <h4>Phone Number:</h4>
            <p>{{user.customer.phone_number}}</p>

            <form method="post" action="{% url "website:customer_profile" %}">
                {% csrf_token %}
                <input type="hidden" name="edit" value="edit">
                <input class="btn btn-primary" type="submit" value="Edit">
            </form>

        {% endif %}

        <h2 class="mt-4">Payment Types</h2>
            <ul class="list-group" >
                {% for payment_type in user.customer.paymenttype_set.all %}
                    <li class="list-group-item">{{payment_type.name}}</li>
                {% endfor %}

            </ul>
            <a class="btn btn-primary mt-2 " href="{% url "website:add_payment"%}">Add Payment Type</a>


        <h2 class="mt-4">Order History</h2>
            <ul class="list-group mb-4">
                {% for order in user.customer.order_set.all %}
                    {% if order.payment_type_id%}
                        <form class="list-group-item d-flex" method="post" action="{% url "website:closed_order" %}">
                        {% csrf_token %}
                        <label>{{order.id}}</label>
                        <input type="hidden" name="order_id" value = "{{ order.id }}">
                        <input class="ml-auto btn-primary"  type="submit" value="View Order">
                        </form>
                    {% endif %}
                {% endfor %}

            </ul>



    {% endblock content %}