<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Bangazon{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
     <a class="navbar-brand" href="{% url 'website:index' %}">Bangazon, LLC</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'website:products' %}">Shop</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'website:product_categories' %}">Product Categories</a></li>
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'website:sell' %}">Add Product</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url "website:customer_profile" %}">User Settings</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'website:cart' %}">Cart</a></li>
      </ul>
    </nav>
    <br />
    <div class="container">
    {% block content %}

      <h1>Welcome to Bangazon!</h1>
      {% if user.is_authenticated %}
      <h1>Bangazon says... hello {{ user.username }}!</h1>
      <a href="{% url 'website:logout' %}">Logout</a>
      {% else %}
      <h1>Bangazon says...</h1>

      <div class="mt-4">
        <a class="btn btn-primary mr-2" href="{% url 'website:register' %}">Register</a>
        <a class="btn btn-primary" href="{% url 'website:login' %}">Login</a>
      </div>
      {% endif %}

    {% endblock content %}
    </div>
  </body>
</html>