{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Bangazon{% endblock title %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{% url 'website:index' %}">Bangazon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_collapse_content" aria-controls="navbar_collapse_content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar_collapse_content">
        <ul class="navbar-nav mr-lg-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'website:products' %}">Shop</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'website:product_categories' %}">Product Categories</a></li>
          {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'website:sell' %}">Add Product</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'website:my_products' %}">My Products</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="{% url "website:customer_profile" %}">User Settings</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'website:cart' %}">Cart</a></li>
        </ul>
        <form class="form-inline ml-lg-auto my-2 my-lg-0" action="{% url 'website:products' %}" method="POST">
          {% csrf_token %}
          <div class="input-group">
            <input class="form-control" name="product_query" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </nav>
    <br />
    <div class="container pb-5">
    {% block content %}

      <h1>Welcome to Bangazon!</h1>
      {% if user.is_authenticated %}
      <h1>Bangazon says... hello {{ user.username }}!</h1>
      <a href="{% url 'website:logout' %}">Logout</a>
      {% else %}
      <h1>Bangazon says...</h1>

      <div class="mt-4">
        <a class="btn btn-primary mr-2" href="{% url 'website:register' %}">Register</a>
        <a class="btn btn-primary" href="{% url 'website:login' %}">Login</a>
      </div>
      {% endif %}

    {% endblock content %}
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md">
            <h5><a class="" href="{% url 'website:index' %}">Bangazon</a></h5>
          </div>
          <div class="col-6 col-md">
            <h5>Categories</h5>
            <ul class="list-unstyled text-small">
              {% for category in product_categories %}
                <li><a href="{% url 'website:product_by_category' category.id %}">{{category.name}}</a></li>
              {% endfor%}
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>
</html>