{% extends "index.html" %}

{% block content %}
<h2>My Products</h2>
<div class="list-group">
{% for product in products %}
<div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ product.title }}</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">{{ product.description }}</p>
        <small>Purchased: {{product.get_purchased_count}}    Available: {{product.get_available_count}}
        </small>
      </div>
{% endfor %}

</div>

{% endblock content %}