{% extends "index.html" %}
{% load humanize %}

{% block content %}

{% if messages %}

<div class="messages" >
       {% for message in messages %}
       <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
       {% endfor %}
   </div>
{% endif %}

    <div class="row">
      <div class="col-sm-6 my-4">
        <img class="mx-auto d-block" src="https://via.placeholder.com/350" alt="Placeholder for product image"/>
      </div>
      <div class="col-sm-6 my-4">
        <h3>{{product_details.title}}</h3>
        {% if product_details.get_available_count == 0 %}
        <p class="badge badge-secondary">Sold out!</p>
        {% elif product_details.get_available_count < 5 %}
        <p class="badge badge-secondary">Almost sold out!</p>
        {% endif %}
          <p>Qty: {{product_details.get_available_count}}</p>
          <p>Price: ${{product_details.price|intcomma}}</p>
        <p>{{product_details.description}}</p>
        {% if product_details.get_available_count == 0 or user_cart_count == product_details.get_available_count %}
          <button class="btn btn-primary btn-block mb-4" disabled>
              <i class="fas fa-cart-plus"></i>
              Add to Cart
          </button>
        {% else %}
          <a href="{% url 'website:add_to_cart' product_details.id %}" class="btn btn-primary btn-block mb-4">
              <i class="fas fa-cart-plus"></i>
              Add to Cart
          </a>
        {% endif %}
        <a href="{% url 'website:recommend_product' product_details.id %}" class="btn btn-info btn-block mb-4">
                <i class="fas fa-user-friends" aria-hidden="true"></i>
                Recommend to a Friend
        </a>
        {% if other_cart_count > 0 %}
          {% if other_cart_count == 1 %}
            <div>
              <i class="fas fa-shopping-cart"></i>
              <strong>Other people want this.</strong> {{other_cart_count}} person has this in their cart right now.
            </div>
          {% elif other_cart_count > 1 %}
            <div>
              <i class="fas fa-shopping-cart"></i>
              <strong>Other people want this.</strong> {{other_cart_count}} people have this in their cart right now.
            </div>
          {% endif %}

        {% endif %}
      </div>
    </div>

{% endblock content %}

