{% extends 'index.html' %}
{% block content %}
    <div class="row mt-3 mb-5">
      <div class="col-md-8">
        <h1>Products</h1>
      </div>
      <div class="col-md-4 align-self-center">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search by City">
          <div class="input-group-append">
            <input type="submit" class="form-control btn btn-primary">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-sm-4">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <a href="{% url 'website:product_details' product.id %}" class="btn btn-primary">View Details</a>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>

{% endblock content %}


