{% extends "index.html" %}
{% load humanize %}

{% block content %}
<div class="card mx-auto" style="width: 50rem;">
  <div class="card-body">
    <h4 class="card-title">{{product_category.name}}</h4>
    <div class="list-group">
      {% for product in products %}
        {% if product.get_available_count > 0%}
          <a href="{% url 'website:product_details' product.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">{{product.title}}</h6>
              <h6 class="mb-1">QTY:{{product.get_available_count}}</h6>
              <h6 class="mb-1">Price: ${{product.price|intcomma}}</h6>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>

  </div>
</div>
{% endblock content %}